---
layout: default
title: Biomes
section: browse
---
<h1>Biomes</h1>

<ul>
  {% for Biome in site.Biomes %}
    <li>
      <h2><a href="Biomes/{{ Biome.code }}">{{ Biome.name }}</a></h2>
          {% for therealm in site.Realms %}
 {% if Biome.realm contains therealm.name %}
   <a href="Realms/{{ therealm.name }}.html">{{ therealm.name }} Realm</a> |
   {% endif %}
{% endfor %}
       Contributors: {{ Biome.contributors }}
    </li>
  {% endfor %}
</ul>
Back to: <a href="Realms.html">Realm overview</a>
