---
layout: default
title: Map summary
section: browse
---
<h2> Summary of map details</h2>
<p> This table summarizes information regarding sources used for generating the indicative maps for all Ecosystem Functional Groups. Alternatively, follow <a href='/Ecosystem-profiles-comments/Map-references.html'>this link to see the list of references used for the maps</a>.</p>


<table>
  <tr>
    <th>Map code</th>
    <th>Description</th>
    <th>Contributors</th>
  </tr>

  {% for EFG in site.EFGs %}
    <tr>
      <th colspan=3><a href="EFGs/{{ EFG.code }}">{{ EFG.name }}</a></th>
    </tr>
    {% assign mapdata = site.data.mapinfo | where: "efg", EFG.code %}
    {% for item in mapdata %}
    <tr>
      <td>{{ item.code }} {{ item.version }}</td>
      <td>{{ item.description }}</td>
      <td>{{ item.contributors }}</td>
    </tr>
    {% endfor %}
  {% endfor %}


</table>
