
<form action="https://smartforms.dev/submit/5e20e9c5d2b1f304f0563ae2" method="POST">
  <h3>Step 2: Review this profile</h3>
  <h4>Contact information</h4>
  <input type="hidden" name="EFG" value="{{ page.name }}">
  Your name: <input type="text" name="name"><br/>
  Your affiliation: <input type="text" name="affiliation">

  <p>Instructions: Use the slide bar to express your general opinion on the content, add your comments or suggestions in the text area below. </p>

  <div style="padding: 3px;">
      <b>How do you find the description of this biome?</b>
    Uninformative <input type="range" name="ET-qual" min="0" max="10" step="1"> Very informative<br/>
    <textarea rows=8 cols=50 name="ET-comments">Add your comments and suggestions.</textarea><br/>
  </div>
  <button type="submit">Send</button>
</form>
