
<form action="http://jrferrerparis.info/feedback-form-handling/efg-comments.php" method="POST">
  <h3>Review profile for {{ page.name }}</h3>
  <b style="font-size: 15px;font-weight: bold;">Contact information</b><br/>
  <input type="hidden" name="EFG" value="{{ page.name }}">
  <input type="hidden" name="EFGcode" value="{{ page.code }}">
  Your name: <input type="text" name="name"><br/>
  Your affiliation: <input type="text" name="affiliation"><br/>

<b style="font-size: 15px;font-weight: bold;">Instructions:</b> Use the slide bar to rate each section, add your comments or suggestions in the text area <br/>

  <div style="padding: 3px;">
    <b style="font-size: 15px;font-weight: bold;">Ecological traits</b><br/>
    Uninformative <input type="range" name="ET-qual" min="0" max="10" step="1"> Very informative<br/>
    <textarea rows=2 cols=50 name="ET-comments">Add your comments and suggestions.</textarea><br/>
  </div>

  <div style="padding: 3px;">
  <b style="font-size: 15px;font-weight: bold;">Key ecological drivers</b><br/>
    Uninformative <input type="range" name="KED-qual" min="0" max="10" step="1"> Very informative<br/>
    <textarea rows=2 cols=50 name="KED-comments">Add your comments and suggestions.</textarea><br/>
  </div>

  <b style="font-size: 15px;font-weight: bold;">Diagrammatic assembly model</b><br/>

    Uninformative <input type="range" name="DAM-qual" min="0" max="10" step="1"> Very informative<br/>
    <textarea rows=2 cols=50 name="DAM-comments">Add your comments and suggestions.</textarea><br/>

    <b style="font-size: 15px;font-weight: bold;">Distribution and map</b><br/>

    Uninformative <input type="range" name="MAP-qual" min="0" max="10" step="1"> Very informative<br/>
    <textarea rows=2 cols=50 name="MAP-comments">Add your comments and suggestions.</textarea><br/>
    <!--//
          <h3>Your suggestions</h3>
          <textarea rows=3 cols=50 name="suggestions">Add your comments and suggestions.</textarea><br/>
          <textarea rows=2 cols=50 name="references">Suggest additional references.</textarea><br/>
          //-->
  <button type="submit">Send</button>
</form>
