
<form action="http://jrferrerparis.info/feedback-form-handling/biome-comments.php" method="POST">
  <h3>Review the profile for {{ page.name }}</h3>
  <h4>Contact information</h4>
  <input type="hidden" name="Biome" value="{{ page.name }}">
  <input type="hidden" name="Biomecode" value="{{ page.code }}">
  Your name: <input type="text" name="name"><br/>
  Your affiliation: <input type="text" name="affiliation"><br/>

  <b style="font-size: 15px;font-weight: bold;">Instructions:</b> Use the slide bar to express your general opinion on the content, add your comments or suggestions in the text area below. <br/>

  <div style="padding: 3px;">
      <b style="font-size: 15px;font-weight: bold;">How do you find the description of this biome?</b><br/>
    Uninformative <input type="range" name="Biome-qual" min="0" max="10" step="1"> Very informative<br/>
    <textarea rows=8 cols=50 name="Biome-comments">Add your comments and suggestions.</textarea><br/>
  </div>
  <button type="submit">Send</button>
</form>
