<form action="http://jrferrerparis.info/feedback-form-handling/user-registration.php" method="POST">
 <h3>Step 1: Register</h3>
 <h4>Contact information</h4>
 Your name: <input type="text" name="name"><br/>
Your affiliation: <input type="text" name="affiliation"><br/>
Academic or profesional profile: <input type="url" name="profile"><br/>
 <font size=2 color='#451101'>Please add the url of a public profesional profile for verification of expertise.For example: public profile in ORCID, google scholar, linkedIn, university portal or own webpage.</font><br/>
Your e-mail : <input type="email" name="email"><br/>
 <font size=2 color='#451101'>Add your e-mail, if you would like to be contacted by our team.</font>

   <h4>Your qualifications</h4>
     Describe how your area of expertise relates to ecosystems research, conservation or management: <br/>
   <textarea rows=5 cols=60 name="expertise">For example: "Senior researcher in deep sea biology...", "Field experience on restoration of tropical dry forest...", "Risk assessment of freshwater ecosystems...", etc.</textarea><br/>
   Describe how you want to contribute to the global ecosystem typology: <br/>
   <textarea rows=4 cols=60 name="contribution">For example: "Review profiles of marine ecosystems...", "Crosswalk with national ecosystem classifications...", "Join a group of specialists for...", etc.</textarea><br/>

  <button type="submit">Send</button>
</form>
