---
layout: default
section: browse
---
<h1>{{ page.name }}</h1>
<h3>Biome: <a href="../Biomes/{{ page.biomecode }}.html">{{ page.biome }}</a></h3>
<h4>Contributors: {{ page.contributors }}</h4>
<div style=";
   position: relative;
  left: 0px;
  padding: 15px;
  width: 60%;">

   <div style="background-color:#67A6F5;
   position: fixed;
  bottom: 0;
  font-size: 13px;
  right: 0;
  border: 3px solid #2173AD;
  max-width: 35%;
  padding: 15px;
  margin: auto;">

  {% include form-step3.html %}

</div>

{{ content }}

Back to: <a href="../Realms.html">Realm overview</a>
{% for therealm in site.Realms %}
 {% if page.realm contains therealm.name %}
   / <a href="../Realms/{{ therealm.name }}.html">{{ therealm.name }} Realm</a>
   {% endif %}
{% endfor %}
/ <a href="../Biomes.html">Biome overview</a>
{% for therealm in site.Biomes %}
 {% if page.biomecode == therealm.code %}
   / <a href="../Biomes/{{ therealm.code }}.html">{{ therealm.name }}</a>
   {% endif %}
{% endfor %}

</div>
