---
layout: default
section: browse
---


<h1>{{ page.name }}</h1>
<h3>Biome: <a href="../Biomes/{{ page.biomecode }}.html">{{ page.biome }}</a></h3>
<h4>Contributors:<br/> {{ page.contributors }} (texts)</h4>
<b style="color: #333333;font-size: 12px;"> <a href='https://global-ecosystems.org/explore/groups/{{ page.code }}' target='next'>Full profile available at official site</a></b>
<div style=";
   position: relative;
  left: 0px;
  padding: 15px;
  width: 80%;">


{{ content }}


<h2>Diagrammatic assembly model</h2>
<figure>
  <img src="../assets/diagrams/{{ page.code }}.png" width="100%"/>
 <figcaption>
Diagrammatic assembly model of {{ page.name }}. <a href="../Profile-structure.html#DAM" style="font-size: 10px;font-weight: bold;font-color: red;">See general notes on diagrams.</a> <a href="../assets/diagrams/{{ page.code }}.png" style="font-size: 10px;font-weight: bold;font-color: red;" target="_blank">Open image full size.</a>
 </figcaption>
</figure>


<h2>Maps</h2>
{% assign slc_maps = site.data.mapinfo | where: "efg", page.code %}
{% assign valid_maps = slc_maps | where: "status", "valid" %}

  {% for map in valid_maps %}
  {% capture mapcode %}{{map.code}}_{{map.version}}{% endcapture %}
  {% assign map_files = site.static_files | where: "basename", mapcode %}
    {% for myimage in map_files %}
      {% capture mapdesc %}{{map.description}}{% endcapture %}
      {% capture mappath %}{{myimage.path}}{% endcapture %}
      {% capture validmapcode %}{{mapcode}}{% endcapture %}
      <figure>
      <img src="../{{ mappath }}" width="100%"/>
       <figcaption>
         <b style="font-size: 15px;font-weight: bold;">Map {{map.code}} {{map.version}}</b>: {{ mapdesc }} <font style="font-size: 10px;font-weight: normal;">Major occurrences coloured red, minor occurrences coloured yellow.</font> <a href="/Ecosystem-profiles-comments/Profile-structure.html#MAP" style="font-size: 10px;font-weight: bold;font-color: red;">See general notes on maps.</a> <a href="../{{ mappath }}" style="font-size: 10px;font-weight: bold;font-color: red;" target="_blank">Open image full size.</a>
       </figcaption>
      </figure>
    {% endfor %}
  {% endfor %}




<h2>References</h2>
<h3>Main references</h3>
<ul>
  {% assign mainref = site.data.efgrefs[page.code] %}
{% for ref in mainref %}
<li>{{site.data.references[ref] | markdownify}}</li>
{% endfor %}
</ul>

<h3>Map references</h3>
<ul>
  {% assign mapref = site.data.maprefs[validmapcode] %}
{% for ref in mapref.references %}
<li>{{site.data.references[ref] | markdownify}}</li>
{% endfor %}
</ul>


Back to: <a href="../Realms.html">Realm overview</a>
{% for therealm in site.Realms %}
 {% if page.realm contains therealm.name %}
   / <a href="../Realms/{{ therealm.name }}.html">{{ therealm.name }} Realm</a>
   {% endif %}
{% endfor %}
/ <a href="../Biomes.html">Biome overview</a>
{% for therealm in site.Biomes %}
 {% if page.biomecode == therealm.code %}
   / <a href="../Biomes/{{ therealm.code }}.html">{{ therealm.name }}</a>
   {% endif %}
{% endfor %}
<br/>
Check: <a href="../Glossary.html"> the Glossary</a> / <a href="../Profile-structure.html"> Profile structure</a> / <a href="https://doi.org/10.2305/IUCN.CH.2020.13.en" target="_blank">the public document</a>

</div>
